In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator
import pandas as pd
import numpy as np
import statistics

In [9]:
# import our csv files with the data to analyze
city_data_df = pd.read_csv("city_data.csv")
ride_data_df = pd.read_csv("ride_data.csv")

In [6]:
# Get the columns and the rows that are not null for city data.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [7]:
# Get the data types of each column in city data.
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [19]:
list_of_type = city_data_df['type'].unique()
list_of_type

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [22]:
for type in list_of_type:
    type_total = sum(city_data_df['type'] == type)
    print(f"{type}: {type_total}")

Urban: 66
Suburban: 36
Rural: 18

In [23]:
# Get the columns and the rows that are not null for ride data.
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [24]:
# Get the data types of each column in ride data.
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [28]:
# merge city and ride dfs
new_df = pd.merge(ride_data_df,city_data_df, , how = 'right', on=["city", "city"])
new_df.head()

,city,driver_count,type,date,fare,ride_id
0,Lake Jonathanshire,5,Urban,2019-01-14 10:14:22,13.83,5739410935873
1,Lake Jonathanshire,5,Urban,2019-04-07 20:51:11,31.25,4441251834598
2,Lake Jonathanshire,5,Urban,2019-03-09 23:45:55,19.89,2389495660448
3,Lake Jonathanshire,5,Urban,2019-04-07 18:09:21,24.28,7796805191168
4,Lake Jonathanshire,5,Urban,2019-01-02 14:14:50,13.89,424254840012